body {
    background-color: black;
    color: rgba(255,255,255,0.8);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;*/
    font-family: 'Titillium Web', sans-serif;
}
#landing{
    height: 100vh;
    background-image: url('https://i.imgur.com/C3v42pL.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}

.carousel-icon {
    width: auto;
    height: 200px;
    max-height: 200px;
}